{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/aboutus.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300&family=Poppins:wght@300&display=swap');
        .btn{
            font-family: 'poppins',sans-serif;
            background-color: darkcyan;
            width:110px;
            height: 30px;
            border-radius: 20px;
            color: white;
            border:none;
            margin-top: 30px;
        }
        .btn:hover{
            font-family: 'Poppins',sans-serif;
            margin-left: 20px;
            background-color:white;
            width:110px;
            height: 30px;
            border-radius: 20px;
            color: darkcyan;
            border:2px solid darkcyan;
            margin-top: 30px;
            transition:all .2s ease-in;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="margin-top:10px;">
        <div class="header">
        <div class="left">
        <img src="{% static '/logo.jpeg' %}" style="width:120px;height:100px;margin-top:-5px;">
        <h1 id="text" style="font-weight:bold;">Kerala State <br> Road <br> Transport Corporation</h1>
        </div>
        <div class="right" style="width:650px;">
            <button class="btn" onclick="link(this)" value="{% url 'package' %}" style="margin-left:90px;">Trip Plan</button>
            <button class="btn" onclick="link(this)" value="{% url 'home' %}">Bus</button>
            <button class="btn" onclick="link(this)" value="{% url 'contactus' %}">Enquiry</button>
            <button class="btn" onclick="link(this)" value="{% url 'aboutus' %}">About Us</button>
        </div>
        <a href="{% url 'u_homepage' %}"><img src="{% static '/arrow.png' %}" style="width: 30px;height: 30px;margin-left:-400px;margin-top: 150px;"></a>
        <a href="{% url 'u_homepage' %}"><img src="{% static '/home.png' %}" style="width: 30px;height: 30px;margin-top:150px;"></a>
        </div>
        <div class="mid">
            <h1 id="txt"  style="font-weight:bold;">About Us</h1>
            <h2 id="history">History</h2>
            <p class="paragraph">Kerala State Road Transport Corporation (KSRTC)is a state-owned road transport corporation in the Indian state 
                of Kerala. It is one of the country's oldest state-run public bus transport services.The corporation is divided into three zones 
                (South, Central and North), and its headquarters is in the state capital Thiruvananthapuram. Daily scheduled service has increased from 
                1,200,000 kilometres (750,000 mi) to 1,422,546 kilometres (883,929 mi), using 6,241 buses on 6,389 routes. The corporation transports an 
                average of 3.145 million commuters per day. <br><br>The Kerala Urban Road Transport Corporation (KURTC) was formed under
                KRTC in 2015 to manage affairs related to urban transportation.It was inaugurated on 12 April 2015 at Thevara.On 9 November 2021, 
                a legally independent company called KSRTC SWIFT was formed to operate the long-distance buses of the Kerala Road Transport Corporation
                for a period of 10 years with an aim overcome the financial crisis faced by the corporation. <br><br>The Kerala State Road Transport 
                Corporation (KSRTC) was established by the Kerala government on 15 March 1965 after the Road Transport Corporation Act, which
                 came into force in 1950. The Transport Department became an autonomous corporation on 1 April 1965.At the time, there were 661 bus 
                 routes and 36 lorry routes. The corporation's fleet consisted of 901 buses, 51 lorries, and 29 other vehicles; thirty buses and eight lorries
                were new. Ten old buses, seven lorries, and one tractor-trailer were converted to other uses.The KLX registration series was reserved for the KSRTC.
                On 1 July 1989, KSRTC buses began registration at a dedicated RTO in Trivandrum with the KL-15 registration series</p>
        </div>
        <div class="footer" style="margin-left:-10px;width:101.5%;margin-top:20px;">
            <div class="fleft">
            <div class="icons">
                <img src="{% static '/telephone.png' %}" width="20px" height="20px" style="margin-left:30px;margin-top:85px;position:relative;z-index: 2;">
                <img src="{% static '/twitter.png' %}" width="20px" height="20px" style="margin-top:20px;margin-left:30px;position:relative;z-index: 2;">
                <img src="{% static '/pin.png' %}" width="20px" height="20px" style="margin-top:18px;margin-left:30px;position:relative;z-index: 2;">
                <img src="{% static '/inst.png' %}" width="20px" height="20px" style="margin-top:18px;margin-left:30px;position:relative;z-index: 2;">
            </div>
            <p id="contact" style="color:black;font-weight:bold;font-size:24px">About Us</p>
            <p class="details" style="color:black;">Phone : +91 534645634</p>
            <p class="details" style="color:black;">Twitter : ksrtctrip123</p>
            <p class="details" style="color:black;">Malappuram,Perinthalmanna</p>
            <p class="details" style="color:black;">Instagram : ksrtc_tourizm</p>
            </div>
            <div class="middle">
                <img src="{% static '/1.png' %}" width="20px" height="20px" style="margin-left: 270px;margin-top:85px;position:relative;z-index: 2;">
                        <img src="{% static '/1.png' %}" width="20px" height="20px" style="margin-left: 270px;margin-top:20px;position:relative;z-index: 2;">
                        <img src="{% static '/1.png' %}" width="20px" height="20px" style="margin-left: 270px;margin-top:20px;position:relative;z-index: 2;">
                        <img src="{% static '/1.png' %}" width="20px" height="20px" style="margin-left: 270px;margin-top:20px;position:relative;z-index: 2;">
                        </div>
                        <div class="fright">
                        <p id="implinks" style="margin-top:30px;color:black;font-weight:bold;font-size:24px;">Important Links</p>
                        <a href="{% url 'package' %}" style="color:black;text-decoration:none;margin-top:20px;position:relative;z-index:1;" target="_blank"><p class="link">Trip Plan</p></a>
                        <a href="{% url 'aboutus' %}" style="color:black;text-decoration:none;margin-top:55px;position:relative;z-index:1" target="_blank"><p class="link">About us</p></a>
                        <a href="{% url 'home' %}" style="color:black;text-decoration:none;margin-top:88px;position:relative;z-index:1" target="_blank"><p class="link">Bus</p></a>
                        <a href="{% url 'contactus' %}" style="color:black;text-decoration:none;margin-top:120px;position:relative;z-index:1;" target="_blank"><p class="link">Contact Us</p></a>
            </div>
            </div>
    </div> 
    <script>
        function link(link){
        console.log(link.value);
        // location.href=link.value;
        window.open(link.value)
    }
    </script>
</body>
</html>