{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static '/css/cer.css'%}">
<script="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
<script="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300&family=Poppins:wght@300&display=swap');
</style>
</head>
<body>  
<div class="outer-border">
    <div class="inner-dotted-border">
        <br><br><br><br>
           <span class="certification" style="color:black;font-size:30px;font-family:'Nunito',sans-serif;font-weight:bolder;">HOTEL AND RESTAURANT APPROVAL AND CLASSIFICATION COMMITTEE</span>
           <br><br><br>
           <span class="certification" style="color:black;font-family:'poppins',sans-serif;">Certificate of Inspection</span>
           <br><br><br>
           <span class="certify">On the recommendation of Hotel and Restaurant Approval & Classification Committee,Hotel <span style="font-family:'Nunito',sans-serif;"><b><u>Le Celestium Munnar </u></b></span>is hereby classified/under <span style="font-family:'Nunito',sans-serif;"><b><u>three</u></b></span> star category from  <span style="font-family:'Nunito',sans-serif;"><b><u>25/02/2023 to 25/02/2028</u></b></span> as per the applicable terms and conditions.</span><br/><br/>
    </div>
</div>
</body>
</html>