{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/rooms.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300&family=Poppins:wght@300&display=swap');
    </style>
</head>
<body>
<div class="container-fluid">
    <h1 id="name" style="font-weight:bold;">Blanket Hotel & Spa </h1><br><br>
    <div class="images">
        <img src="https://wallpapercave.com/wp/wp6957233.jpg" style="width:300px;height:170px;margin-left:40px;margin-top: 30px;">
        <img src="https://i.pinimg.com/originals/ad/20/f1/ad20f11398762adb27ee4db1e939566f.jpg" style="width:300px;height:170px;margin-left:620px;margin-top: 30px;">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/a3934e89372463.5df263138bb08.jpg" style="width:300px;height:170px;margin-left:40px;margin-top: 30px;">
        <img src="https://i.pinimg.com/originals/c6/60/24/c66024ea79527d9bbafe79ed171558b9.jpg" style="width:300px;height:170px;margin-left:620px;margin-top: 30px;">
        <div style="width:600px;height: 700px;">
            <p class="details">Single bed without AC <br> 2000Rs <br>Available</p>
            <button id="btn2" onclick="link(this)" value="{% url 'blanket' %}">Reserve Now</button>
            </div>
            <div style="width:600px;margin-top:-540px;height: 1000px;">
            <p class="details1">Double bed with AC <br> 3000Rs <br>Available</p>
            <button id="btn3" onclick="link(this)" value="{% url 'blanket' %}">Reserve Now</button>
            </div>
            <p class="details2" style="margin-top: -1200px;">Single bed with AC <br> 2500Rs <br>Available</p>
            <button id="btn4" onclick="link(this)" value="{% url 'blanket' %}">Reserve Now</button>
            <p class="details3" style="margin-top: 110px;">Double bed with AC <br> 3000Rs <br>Available</p>
            <button id="btn5" onclick="link(this)" value="{% url 'blanket' %}">Reserve Now</button>
    </div>
</div>
<script>
    function link(link){
    console.log(link.value);
    // location.href=link.value;
    window.open(link.value)
}
</script>
</body>
</html>